<ul class="navbar">
    <li><a href="/users/profile">Cancel</a></li>
</ul>
<form method="POST" action="/users/editedPost/{{post.PostId}}">
    <div class="formarea">
        <div class="inputline">
            <label for="postTitle">Post Title: </label>
            <input value="{{post.PostTitle}}" type="text" name="postTitle" required>
        </div>
        <div class="inputline">
            <label for="postBody">Body: </label>
            <input value="{{post.PostBody}}" type="text" name="postBody" required>
        </div>
    </div>
    <div>
        <button class="lowbutton" type="submit">Update Post</button>
    </div>
</form>